Task: Review library works for offensive imagery or language. If no offensive imagery or language is found, return an empty list.

{% if work_context %}
<general_historical_context>
    {{ work_context }}
</general_historical_context>
{%- endif %}

{% if original_metadata %}
<original_metadata>
{%- if original_metadata is mapping %}
{%- for key, value in original_metadata.items() %}
    <{{ key }}>{{ value }}</{{ key }}>
{%- endfor %}
{%- else %}
    {{ original_metadata  }}
{%- endif %}
</original_metadata>
{%- endif %}
